@use '../Colors.scss' as c ;

.card {
  @include c.background-secondary;
  width: 30rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .Subtitle {
    @include c.sub-title;
  }

  .img-card-home {
    width: 100%;
    height: 16rem;
    object-fit: contain; 
    @include c.background-secondary;
    padding: 0.5rem; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

/* Responsive */
@media (max-width: 992px) {
  .card {
    width: 20rem;

    .img-card-home {
      height: 13rem;
    }
  }
}

@media (max-width: 576px) {
  .card {
    width: 15rem;

    .img-card-home {
      height: 11rem;
    }
  }
}
