@use '../Colors.scss' as c ;

.header {
    @include c.background-header;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;

    width: 100%; 
    height: 100px;
    top: 0;
    left: 0;  
    right: 0; 
    z-index: 1000;

    .icon-header  {
        padding: 10px;
    }
}    


// Très grand écran de bureau
@media (min-width: 1600px) {
    .header {
        box-sizing: border-box;

        .icon-header  {
            margin-left: 30px;
        }

        .box-menu {
            width: 40% ;
        }
    }
}

    ///////////////////////////////////////////////////////////////////
 
// Grand écran de bureau
@media (min-width: 1281px) and (max-width: 1600px){
    .header {
    
        .icon-header  {
            margin-right: 60px;            
        }

        .box-menu {
            width: 60% ;

            .burger-menu {
                display: none;
            }
        }
    }
}

    ///////////////////////////////////////////////////////////////////
 
// Bureau de taille moyenne
@media (min-width: 1025px) and (max-width: 1280px) {
    .header {
        
        .icon-header  {
            padding: 10px;
        }

        .box-menu {
            width: 70%;

            .burger-menu {
                display: none;
            }
        }
        
    }
    }

    ///////////////////////////////////////////////////////////////////
 
    //Tablette (paysage) ou petit écran de bureau
    @media (min-width: 769px) and (max-width: 1024px) {
        .header {
            height: 60px;
            max-width: 1024px; /* Limite la largeur à 1024px */
            margin: 0 auto;
                
            .box-menu {
                display: none;
            }

            .burger-menu {
                display: flex;
                align-items: center;
                justify-content: flex-end;
        
                width: 80%;
                height: 100px;
            }
        }
    }

    ///////////////////////////////////////////////////////////////////
 
// Tablette (portrait)
 @media (min-width: 481px) and (max-width: 768px) {
    .header {
        height: 60px;
        max-width: 1024px; /* Limite la largeur à 1024px */
        margin: 0 auto;
        
        .icon-header  {
            img {
                height: 40px;
                width: 40px;
                border-radius: 30px;
            }
        }

        .box-menu {
            display: none;
        }

        .burger-menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
    
            width: 80%;
            height: 100px;
        }
    }
 }

    ///////////////////////////////////////////////////////////////////
 
 // Petit écran mobile (portrait)
 @media (max-width: 480px) {
    .header {
        height: 60px;
        margin: 0 auto;
        
        .icon-header  {
            img {
                height: 40px;
                width: 40px;
                border-radius: 30px;
            }
        }

        .box-menu {
            display: none;
        }

        .burger-menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
    
            width: 80%;
            height: 100px;
        }
    }
 }