@use '../Colors.scss' as c ;

// XXL : ≥1400px (très grands écrans)
.Competences {

        @include c.background-secondary;

        .soft-skills {
            @include c.background-tertiary;
        }

        .title {
            @include  c.title ;
        }

        .Subtitle {
            @include c.sub-title;
        }
        
        .text {
            @include c.text;
            margin: 0px;
        }

        
        .CV {
            @include c.background-tertiary;
    
            .cv-img {
                width: 350px;
                height: 550px;
            }
        }
        
    }

    ///////////////////////////////////////////////////////////////////
 
//Grand écran de bureau XL
@media (max-width: 1399.98px) {
}

    ///////////////////////////////////////////////////////////////////
 
// Bureau de taille moyenne LG
@media (max-width: 1199.98px) {
    .Competences { 
    .CV {    
        .cv-img {
            width: 300px;
            height: 450px;
        }
    }     
}
}

    ///////////////////////////////////////////////////////////////////
 
// Tablette (paysage) ou petit écran de bureau MD
@media (max-width: 991.98px) {

}

    ///////////////////////////////////////////////////////////////////
 
// Tablette (portrait) SM
@media (max-width: 767.98px) {

}

    ///////////////////////////////////////////////////////////////////
 
 // Petit écran mobile (portrait) XS 
 @media (max-width: 575.98px) {
.Competences { 
    .CV {    
        .cv-img {
            width: 300px;
            height: 450px;
        }
    }     
}
}