@import '../theme-light.scss';
@import '../theme-dark.scss';


// partie Portfolio
.portfolio-contenair {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 700px;

    .title-portfolio {
        @extend .text-secondary;
        text-align: center;
        font-size: xx-large;
        padding: 20px;
    }

    .list-portfolio {
        display: flex;
        flex-direction: row ;
        justify-content: space-evenly;
        align-items: center;

        width: 100%;
        height: 500px;
        padding: 0px;
        list-style-type: none; 

        .list-detail-portfolio {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;

          width: 50%;
          height: 400px;

            .buton-projet-portfolio {
                @extend .button2;

                border-radius: 30px;
            }

            .imagePort-id-1 {
                width: 60%;
                height: 70%;
                object-fit: cover ;
                border: 1px solid $indigo-5;
            }
            .imagePort-id-2 {
                width: 60%;
                height: 70%;
                object-fit: cover ;
                border: 1px solid $indigo-5;
            }
            .imagePort-id-3 {
                width: 60%;
                height: 70%;
                object-fit: cover ;
                border: 1px solid $indigo-5;
            }
        }
    }
}


// Balise Modal
.box-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: $indigo-5;
    width: 100%;
    height: 100%;

    .title-principal-modal {
        color: $indigo-1;
        font-size: xx-large;
        padding: 20px;
    }

    .card-modal {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        height: 100%;
        color: $indigo-12;
        margin: 20px;
        padding-top: 10px;
        text-align: center;


        .title-modal {
            font-weight: 700;
            color: $indigo-9;
            font-size: x-large;
            width: 30%;
            height: 100%;
            align-content: center;
        }

        .text-modal {
            @extend .text-dark ;
            @extend .border-dark;
            @extend .background-header ;

            width: 50%;
            height: 100%;
            padding: 10px;
            margin: 0px;
            
            align-content: center;
            font-family: 'Arial', sans-serif; /* Police sans serif */
            font-size: 20px; /* Taille de la police */
            line-height: 1.6; /* Espacement entre les lignes */
            margin: 1em 0; /* Espacement autour du paragraphe */
            text-align: center; /* Alignement du texte */
        }

    }

    .line-modal {
        border-top: 3px solid #fff7f7;
        margin-top: 10px;
        width: 70%;
    }

    .card-techno {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
        height: 50%;
        width: 100%;

        .tech-item {
            @extend .border-xLigth;
            @extend .background-dark;
            @extend .text-ligth ;

            padding: 10px;
            font-weight: 700;

            
        }
        
    }

    .link-modal {
        font-size: large;
        padding: 30px;
        text-decoration: none;
        margin: 20px;
        background-color: $indigo-3;
    }

    .image-id-1 {
        height: 500px;
        width:  800px;
    }
    
    .image-id-2 {
        height: 500px;
        width:  800px;

    }

    .image-id-3 {
        height: 500px;
        width: 250px;

    }
}

