/* Global styles for the ImageSlider */
.slide-container {
  position: relative;
  width: 100%;
  height: 50%;
  max-width: 1200px;
  margin: 0 auto; /* Center the swiper on the page */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e9ff; /* Background for empty slides */
}

.swiper {
  height: 100%; /* Taille spécifique pour les projets desktop */
  width: 100%;
}

/* Styles pour les images Desktop */
.desktop-image {
  object-fit: contain; /* Préserve les proportions */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%; /* Largeur complète */
  height: 100%; /* Hauteur automatique pour éviter les déformations */
}

/* Styles pour les images Mobile */
.mobile-image {
  object-fit: contain; /* Remplissage complet pour mobile */
  width: 50%; /* Largeur complète */
  height: 50%; /* Hauteur automatique pour éviter les déformations */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Mobile-first styles */
@media (max-width: 768px) {
  .swiper {
    height: 300px;
  }

  /* Make the navigation buttons larger and easier to click on mobile */
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
