@import './theme-light.scss';
@import './theme-dark.scss';

.Footer {
    @extend .background-header ;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 150px;

    .icon-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        margin: 0px;
        width: 100%;

        .item-icon {
            height: 40px;
            width: 40px;
            padding-right: 10px
        }
    }

    .text-footer {
        @extend .text-dark;
        text-align: center;
        margin: 0px;
        padding: 5px;
    
    }

    .footer-contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        width: 100%;
        padding: 10px;

        .text-contact {
            padding-left: 20px;
            margin: 0px;
        }
    }
}