@import './theme-light.scss';
@import './theme-dark.scss';


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%; 
    height: 100px;
    top: 0;
    left: 0;  /* Assurez-vous que l'élément soit fixé à gauche */
    right: 0; /* Assurez-vous que l'élément soit fixé à droite */
    width: 100%;
    z-index: 1000;

    @extend .background-header;

    .icon-header  {
        padding: 10px;
        margin-left: 30px;
    }} 