@import './theme-light.scss';
@import './theme-dark.scss';


.light-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @extend .background-header;

    .logo  {
        width: 50px;
        padding-left: 20px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly ;

        width:500px;

        a {
            text-decoration: none;
            @extend .text-accessible;
        }
    }
}   

.dark-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @extend .background-header-dark;

    .logo  {
        width: 50px;
        padding-left: 20px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly ;

        width:500px;

        a {
            text-decoration: none;
            @extend .text-accessible-dark;
        }
    }
} 