@import './theme-light.scss';
@import './theme-dark.scss';

    #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        @extend .background-primary;
    
        .button-present {
            background-color: var(--indigo-4);
            color: var(--indigo-12);
            border: 2px solid var(--indigo-6);
            
            &:hover {
              background-color: var(--indigo-5);
            }
          
          }

        .presentation {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: relative;
            background-size: cover ;
            background-position: center ;
            
            
            
            height: 500px;
            width: 100%;

            .title_name {
                @extend .text-primary-2;
                margin-bottom: 5px;
                
            }

            .title_profession {
                @extend .text-primary-1 ;
                margin: 0px;
                text-align: center;
            }
            .button-present {
                @extend .button;
                border-radius: 20px;
                margin-top: 50px;
                padding: 10px;
            }
        }
        
        #Actual {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @extend .background-tertiary;
            @extend .border-medium;
            
            width: 100%;
            height: 250px;
        

            .title-actual {
                @extend .text-secondary;
                font-size: xx-large;
                margin-bottom: 0px;
            }

            p {
                @extend .text-muted-1;
                text-align: center;

                .link-ecole {
                    text-decoration: none;
                    @extend .text-secondary;
                }
            }
        }


        .formulaire {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 500px;

            .form {
                display: flex;
                flex-direction: column;

                input {
                    margin: 10px 0px ;
                }

                textarea {
                    padding: 100px;
                }
                
            }
        }
    }
