@import './theme-light.scss';
@import './theme-dark.scss';

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
    margin-top: 30px;

    @extend .background-secondary;
    @extend .border-medium;

}