@import './theme-light.scss';
@import './theme-dark.scss';

#Portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;

    @extend .background-tertiary;
    @extend .border-medium;

}