@import './theme-light.scss';
@import './theme-dark.scss';

.contenair-skills {
    height:100%;
    width: 30%;
    margin: 0 ;
    padding: 10px;
    text-align: left;
    
    background-color: $indigo-7;
    border-radius: 30px;
    border: 5px solid $indigo-2 ;
    box-shadow: 10px 5px 5px $indigo-11 ;

}

.skill-title-1{
    @extend .text-secondary;
    text-align: center;
    font-size: x-large;
}

.skill-title-2 {
    color: $indigo-1;
    text-align: center;
    font-size: large;
    border-top: solid $indigo-8 ;
    padding-top: 5px;
}

.skill-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 20px;
    width: 100%;

    .card-logo {
        text-align: center;
        
        .skill-name {
            font-weight:  bold;
            font-size: normal ;
            @extend .text-secondary;
        }
        
        .skill-img {
            height: 50px;
            width: 50px;
            padding: 10px;
        }
    }
    
    .skill-level {
        color: $indigo-1;
        width: 300px;
    }

    .skill-bar-level {
        width: 100%;
    }
}