// Importation de la palette Indigo(Light) de Radix Colors
@import "~@radix-ui/colors/indigo.css";

// Définition des couleurs Radix en RGB
$indigo-1-rgb: 253, 253, 254; // #fdfdfe
$indigo-2-rgb: 247, 249, 255; // #f7f9ff
$indigo-3-rgb: 237, 242, 254; // #edf2fe
$indigo-4-rgb: 225, 233, 255; // #e1e9ff
$indigo-5-rgb: 210, 222, 255; // #d2deff
$indigo-6-rgb: 193, 208, 255; // #c1d0ff
$indigo-7-rgb: 171, 189, 249; // #abbdf9
$indigo-8-rgb: 141, 164, 239; // #8da4ef
$indigo-9-rgb: 62, 99, 221;  // #3e63dd
$indigo-10-rgb: 51, 88, 212; // #3358d4
$indigo-11-rgb: 58, 91, 199; // #3a5bc7
$indigo-12-rgb: 31, 45, 92;  // #1f2d5c


// Variables de couleurs pour chaque niveau de la palette
$indigo-1: var(--indigo-1);    // Backgrounds
$indigo-2: var(--indigo-2);    // Backgrounds
$indigo-3: var(--indigo-3);    // Interactive components
$indigo-4: var(--indigo-4);    // Interactive components
$indigo-5: var(--indigo-5);    // Interactive components
$indigo-6: var(--indigo-6);    // Borders and separators
$indigo-7: var(--indigo-7);    // Borders and separators
$indigo-8: var(--indigo-8);    // Borders and separators
$indigo-9: var(--indigo-9);    // Solid colors
$indigo-10: var(--indigo-10);  //Solid colors
$indigo-11: var(--indigo-11);  // Accessible text
$indigo-12: var(--indigo-12);  // Accessible text

// Theme Claire 
.theme-light {
    // Backgrounds
  --background-color-1: var(--indigo-1);
  --background-color-2: var(--indigo-2);
  --background-color-3: var(--indigo-11);

  // Interactive components
  --interactive-color-1: var(--indigo-3);
  --interactive-color-2: var(--indigo-4);
  --interactive-color-3: var(--indigo-5);

  // Borders and separators
  --border-color-1: var(--indigo-6);
  --border-color-2: var(--indigo-7);
  --border-color-3: var(--indigo-8);

  // Solid colors
  --solid-color-1: var(--indigo-9);
  --solid-color-2: var(--indigo-10);

  // Accessible text
  --text-color-1: var(--indigo-11);
  --text-color-2: var(--indigo-12);

  //Bouton 
  --button-background-1: var(--indigo-3);
  --button-background-2: var(--indigo-7);

}


// Styles de backgrounds
.background-primary {
  background-color: $indigo-1;
}
.background-secondary {
  background-color: $indigo-2;
}
.background-header {
  background-color: $indigo-6;
}

.background-dark {
  background-color: $indigo-11;
}

.background-xDark {
  background-color: $indigo-12;
}

// Composants interactifs
.button {
  background-color: $indigo-3;
  color: $indigo-12;
  border: 2px solid $indigo-6;

  &:hover {
    background-color: $indigo-7;
  }
  &:active {
    border: 2px solid $indigo-8;
  }
}

.button2 {
  background-color: $indigo-3;
  color: $indigo-12;
  border: 2px solid $indigo-1;

  &:hover {
    background-color: $indigo-7;
  }
  &:active {
    border: 2px solid $indigo-8;
  }
}

// Bordures et séparateurs
.border-light {
  border: 1px solid $indigo-6;
}
.border-medium {
  border: 1px solid $indigo-7;
}
.border-dark {
  border: 1px solid $indigo-8;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(62, 99, 221, 0.842); 
}
.border-xLigth {
  border: 2px solid $indigo-1;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(62, 99, 221, 0.842); 
}

// Couleurs pleines pour textes et éléments visuels
.text-primary {
  color: $indigo-8;
}
.text-secondary {
  color: $indigo-9;
}
.text-accent {
  color: $indigo-10;
}

.text-ligth {
  color: $indigo-1;
}

.text-dark {
  color: $indigo-12;
}
// Accessibilité des textes
.text-accessible {
  color: $indigo-12; // Couleur la plus contrastée
}
.text-muted {
  color: $indigo-11;
}

// Couleurs Transparente 
.trans-4 {
  background-color: rgba(225, 233, 255, 0.9); // Applique la transparence à l'arrière-plan
}

